/* navbar */

.navbar {
  position: relative;
  z-index: 1 !important;
}

.navbar-brand {
  font-family: viga;
  font-size: 32px;
}

/* akhir navbar */

/* jumbotron */

.jumbotron {
  background-image: url(../Landing_Pages/img-ngobar-8/img/jumbotron-bg.jpg);
  background-size: cover;
  height: 440px;
  text-align: center;
  margin-top: -5px !important;
  position: relative;
}

.jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}

.container-fluid {
  z-index: 1;
  position: relative;
}

.jumbotron,
.display-4 {
  margin-top: 80px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 48px;
}

span {
  font-weight: 500;
}

/* jumbotron akhir */

/* info-panel */

.info-panel {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: -66px;
  background-color: white;
  position: relative;
  z-index: 1;
  padding: 20px;
}

img {
  width: 80px;
  height: 80px;
}

.info-panel,
h5 {
  font-size: 16px;
  text-transform: uppercase;
}
.info-panel p {
  font-size: 10px !important;
  text-transform: none;
  margin-top: 5px;
}
/* akhir-info-panel */

/* workingspace */
.workingspace {
  text-align: center;
}
.workingspcae,
.image {
  width: 100%;
  margin-top: 70px;
}

.workingspace,
h1 {
  margin-top: 80px;
  font-size: 40px;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.workingspace,
p {
  font-size: 20px;
  text-transform: none;
  margin-bottom: 20px;
}
/* akhir workingspace */

/* testimonial */
.testimonial,
h6 {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 200;
  font-style: italic;
}

.figure,
img {
  margin-top: 20px;
}

.figure-caption {
  text-decoration: none;
  text-align: center;
  font-size: 24px !important;
}

/* akhir testimonial */

/* UTILLITY */
.tombol {
  text-transform: uppercase;
  border-radius: 40px;
  font-size: 10px;
}

/* DESKTOP VERSION */

@media (min-width: 992px) {
  /* navbar */
  .navbar-brand,
  .nav-link {
    color: white;
    text-shadow: 2px 2px 2px black;
  }

  .nav-link {
    text-transform: uppercase;
    margin-left: 30px;
  }

  .nav-link:hover::after {
    content: '';
    display: block;
    border: 2px solid rgb(19, 19, 247);
    margin: auto;
    width: 50%;
    margin-bottom: -2px;
  }

  .nav-link:hover {
    color: white;
  }
  .navbar-brand:hover {
    color: white;
  }

  /* akhir navbar */

  /* jumbotron */

  .jumbotron {
    margin-top: -75px !important;
  }

  .jumbotron,
  .display-4 {
    font-size: 50px;
  }
  /* jumbotron akhir */

  /* info-panel */

  /* akhir info-panel */

  /* workingspace */
  .workingspace {
    text-align: left;
  }
  /* akhir-workingspace */

  /* testimonial */

  .testimonial,
  h6 {
    font-size: 32px;
  }
  /* akhir-testimonial */
}
